.artwork-component-container {
    position: relative;
    width: fit-content;
    height: 100vh;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 40px;
}

.artwork-component-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: fit-content;
    gap: 20px;
}

.artwork-component-title {
    font-size: 50px;
    line-height: 25px;
    font-weight: 400;
}
