:root {
  --primary: #860029;
  --secondary: #321450;
  --tertiary: #f887ff;
  --accent-one: #de004e;
  --accent-two: #29132e;
  --c-yellow: rgb(224, 255, 27);
}

::-webkit-scrollbar {
  height: 0; /* Hides the scrollbar in Webkit browsers (Chrome, Safari) */
}

::-webkit-scrollbar {
  height: 8px; /* Customize height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* Match your theme color */
  border-radius: 10px;
}


body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto; /* Use auto for horizontal scrolling */
  overflow-y: hidden; /* Ensure no vertical scroll */
  background-color: var(--c-yellow) !important;

  scroll-snap-type: x mandatory; /* Enable horizontal snapping */
  scroll-behavior: smooth; /* Smooth horizontal scroll */
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row; /* Horizontal layout */
  white-space: nowrap; /* Force content to stay in one line */

  -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
  -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

