.artwork-large-container {
    filter:drop-shadow(0 0 0.75rem black);
    border: 2px solid white;
    width: 45%;
    height: auto;
    display: grid;
    position: absolute;
    z-index: 20;
    place-items: center;
}
.artwork-large-container:hover {
    cursor: pointer;
}
.artwork-large-image {
    width: 100%;
    height: auto;
}