.artwork-large-container {
    filter:drop-shadow(0 0 0.75rem black);
    border: 2px solid white;
    width: 45%;
    height: auto;
    position: fixed;
    display: flex;
    margin-top:70px;
    margin-left:160px;
    z-index: 20;
    left: 450px !important;
    top: 100px !important;
}
.artwork-large-container:hover {
    cursor: pointer;
}
.artwork-large-image {
    width: 100%;
    height: auto;
}
